:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

:root,
html,
body {
  height: 100%;
}

body {
  background-color: lightgray;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
